<h2>Your Cart</h2>
<table>
  <% is_show_remove_item_button ||= false %>
  <%= render(cart.line_items, is_show_remove_item_button: is_show_remove_item_button) %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>
<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>